[Unit]
Description=YDB FQ Connector Go
After=network.target
 
[Service]
Type=simple
Restart=always
RestartSec=10
ExecStart=/opt/ydb/bin/fq-connector-go server -c /opt/ydb/cfg/fq-connector-go.yaml

[Install]
WantedBy=multi-user.target
