[Unit]
Description=YDB FQ Connector Go
After=network.target
 
[Service]
Type=simple
Restart=always
RestartSec=10
ExecStart=/usr/local/bin/fq-connector-go server -c /usr/local/etc/fq-connector-go.yaml

[Install]
WantedBy=multi-user.target
