services:
  ydb:
    image: ghcr.io/ydb-platform/local-ydb:25.1.4.7
    container_name: fq-example-ydb
    hostname: localhost
    ports:
      - '2136:2136'
      - '8765:8765'
    environment:
      GRPC_TLS_PORT: 2135
      GRPC_PORT: 2136
      MON_PORT: 8765
      YDB_DEFAULT_LOG_LEVEL: NOTICE
      FQ_CONNECTOR_ENDPOINT: grpc://fq-connector-go:2130 

  postgresql:
    image: mirror.gcr.io/postgres
    container_name: fq-example-postgresql
    ports:
      - '5432:5432'
    environment:
      POSTGRES_DB: fq
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password
      PGDATA: /var/lib/postgresql/data/pgdata

  mysql:
    image: mirror.gcr.io/library/mysql:8.0
    container_name: fq-example-mysql
    environment:
      MYSQL_DATABASE: fq
      MYSQL_ROOT_PASSWORD: password
    ports:
      - '3306:3306'

  mssql:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: fq-example-mssql
    environment:
      ACCEPT_EULA: Y
      MSSQL_SA_PASSWORD: Qwerty12345!
    ports:
      - '1433:1433'

  fq-connector-go:
    image: ghcr.io/ydb-platform/fq-connector-go:latest
    container_name: fq-example-connector
    ports:
      - '2130:2130'
