# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        go-version: [ '1.21.3', ]

    steps:
      - uses: actions/checkout@v4
      - name: Setup Go ${{ matrix.go-version }}
        uses: actions/setup-go@v4
        with:
          go-version: ${{ matrix.go-version }}
      - name: Install dependencies
        run: |
          go get ./...
      - name: Run unit tests
        run: |
          go test -coverpkg=./... -coverprofile=coverage_unit_tests.out -covermode=atomic ./app/...
      - name: Setup integration tests
        uses: isbang/compose-action@v1.5.1
        with:
          compose-file: "/home/runner/work/fq-connector-go/fq-connector-go/tests/infra/datasource/docker-compose.yaml"
          down-flags: "--volumes"
      - name: Run integration tests
        run: |
          # give datasources some time to initialize
          sleep 3 
          go test -c -o fq-connector-go-tests -coverpkg=./... -covermode=atomic ./tests
          ./fq-connector-go-tests -projectPath=$(pwd) -test.coverprofile=coverage_integration_tests.out 
      - name: Union coverage
        run: |
          cat coverage_unit_tests.out > coverage.out
          cat coverage_integration_tests.out | grep -v 'mode: atomic' >> coverage.out
          go tool cover -func=coverage.out
          rm coverage_unit_tests.out coverage_integration_tests.out
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v4-beta
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ./coverage.out
      - name: Build
        run: | 
          git fetch --prune --unshallow --depth=500
          go run ./tools/version
          GOOS=linux go build -v -o fq-connector-go ./app
